<div class="row">
    <div class="col-xs-6 col-md-6">
       <table class="table table-responsive" >
           <thead>
               <tr>
                   <td>Id</td>
                   <td>Name</td>
               </tr>
           </thead>
           <tbody>
               @{ 
                   <tr></tr>
               }
           </tbody>

       </table>
    </div>
    <div class="col-xs-3 col-md-3 space">
                <h2>Setup new account</h2>
                <p><a href="setup/SetupCompany">here</a></p>
    </div>
   </div>