

@{
    ViewBag.Title = "Manage Prints";
}

<h2>Manage Prints</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 space">
            <h3>General Ledgers</h3>
            <p><a href="/manage/genaral" class="btn btn-primary btn-group-lg" role="button">Here </a></p>
        </div>

        <div class="col-md-3 space">
            <h3>Trial Balance</h3>
            <p><a class="btn btn-primary btn-group-lg" href="/manage/trial">Here</a></p>
        </div>

        <div class="col-md-3 space">
            <h3>Balance Sheet </h3>
            <p><a class="btn btn-primary btn-group-lg" href="/manage/sheet">Here</a></p>
        </div>

        <div class="col-md-3 space">
            <h3>Income Statement </h3>
            <p><a class="btn btn-primary btn-group-lg" href="/manage/Income">Here</a></p>
        </div>

        <div class="col-md-3 space">
            <h3>Cash Flow Statement </h3>
            <p><a class="btn btn-primary btn-group-lg" href="/manage/statement">Here</a></p>
        </div>
    </div>
</div>
