
@{
    ViewBag.Title = "Manage Users";
}

<h2>mRegister</h2>
<div class="row">
    <div class="col-md-4 space">
        <h3>Register a Staff</h3>
        <p><a href="/Account/Register" class="btn btn-default">Here </a></p>
    </div>

    <div class="col-md-4 space">
        <h3>Register a Customer</h3>
        <p>To be full Registered an akiba account has to be create. link will be found below.  </p>
        <p><a class="btn btn-default" href="/Account/RegisterClient">Here</a></p>
    </div>

    <div class="col-md-4 space">
        <h3>View All Staff </h3>
        <p>To Edit, Update, Delete a staff record  </p>
        <p><a class="btn btn-default" href="/Account/ViewStaff">Here</a></p>
    </div>

    <div class="col-md-4 space">
        <h3>View All Customer </h3>
        <p>To Edit, Update, Delete a staff record  </p>
        <p><a class="btn btn-default" href="/Account/ViewCustomer">Here</a></p>
    </div>
</div>