
@{
    ViewBag.Title = "Main Register";
}


<h2>Manage Users</h2>
<div class="row">
    <div class="col-md-3 space">
        <h3>Manage Users</h3>
        <p>To register, edit, update, delete a customer and staff recode</p>
        <p><a href="/Account/manageusers" class="btn btn-default">Here </a></p>
    </div>

    <div class="col-md-3 space">
        <h3>Print Outs</h3>
        <p>Create reports </p>
        <p><a class="btn btn-default" href="/Manage/ManagePrints">Here</a></p>
    </div>

    <div class="col-md-3 space">
        <h3>view all staff </h3>
        <p><a class="btn btn-default" href="/Acount/">Here</a></p>
    </div>
</div>

