
@{
    ViewBag.Title = "MainLoan";
}

<div class="row">
    <div class="col-md-4 space">
        <h2>Approve Loan</h2>
        <p><a href="/Transaction/approveLoan" class="btn btn-default">Click Here</a></p>
    </div>
    <div class="col-md-4 space">
        <h2>Apply For Loan</h2>
        <p><a href="/Transaction/applyForloan" class="btn btn-default">Click Here</a></p>
    </div>
    <div class="col-md-4 space">
        <h2>Check Loan Status</h2>
        <p><a class="btn btn-default" href="/Transaction/checkStatus">Click Here</a></p>
    </div>
    <div class="col-md-4 space">
        <h2>Pay Loan</h2>
        <p><a class="btn btn-default" href="/Transaction/payLoan">Click Here</a></p>
    </div>
    <div class="col-md-4 space">
        <h2>Check Loan Balance</h2>
    <p><a class="btn btn-default" href="/Transaction/checkLoan">Click Here</a></p>
</div>
</div>

